img{
    height:170px;
}
 body{
    background-color: #222222;
    color: white;
 }

 .first {
    position: relative;
    height: 300px;
    background-image: url(../images/wp11512698.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.first::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

 
.navbar{
    background-color:#002966;
    border-radius: 15px;
    top: 40%;
    left: 10%;
    z-index: 1;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: blue;
    
}

.card:hover{
    scale: 1.1;
    transition: all 0.7s ease-in-out;
}